.navbar {
    padding-top: 0.5rem; /* Padding atas lebih kecil */
    padding-bottom: 0.5rem; /* Padding bawah lebih kecil */
}

.navbar-brand {
    font-size: 1.2rem; /* Ukuran font lebih kecil */
}

.nav-link {
    font-size: 0.9rem;
    line-height: 1.2;
}

.navbar img {
    width: 30px;
    height: 30px;
}

.navbar-nav .nav-item {
    margin-bottom: 0;
}

.modal-backdrop {
    opacity: 0.5 !important; 
}
